.explore{
    padding: 20px;
    margin: 10px;
    width: 100%;
}

.explore h1 {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 40px;
}

.explore-header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    align-items: center;
    padding: 0 20px;
}

.explore-header ul {
    display: flex;
    gap: 25px;
    padding: 10px;
    margin: 5px;
} 


.explore-header a {
    transition: all 0.2s ease-out;
}

.explore-header a:hover {
    color: black;
    font-size: 19px;
    border-bottom: 4px solid #933C24;
    border-radius: 2px;

}

.explore-movies-grid {
    display: grid;
    grid-template-columns: 250px 250px 250px;    
    gap: 10px;
    padding: 20px;
    justify-items: center;
    position: relative;
    left: 200px;
}

.explore-movie-item img {
    width: 100%;
    max-width: 250px;
    border-radius: 8px;
    transition: transform 0.3s;

}

.explore-movie-item img:hover {
    transform: scale(1.05);
}