.bottom-container {
    background-color: #330031;
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 1280px;
    height: 300px;
    font-family: 'Comfortaa', sans-serif;
}

.footer-container {
    max-width: 100%;
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    align-items: start;
}

.footer-grid {
    display: flex;
    justify-content: center;
    width: 1150px;
    height: 275px;
    gap: 20px;
    padding: 10px;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 250px;
    width: 400px;
    margin-top: 12px;
}


.social-title {
    font-weight: bold;
    align-items: center;
    width: 100%;
    padding: 11px;
    margin-bottom: 8px;
}

.social-title::before {
    content: "◦";
    color: white;
    padding-right: 15px;
}


.social-github, .social-linkedin {
    display: flex;
    align-items: flex-start;
    font-size: 13px;
}

.socials p {
    width: 100%;
    margin-top: 20px;
}

.social-github img, .social-linkedin img {
    width: 10%;
    height: 10%;
    margin: 10px;
    align-items: center;
}

.footer-sponsors {
    height: 250px;
    width: 400px;
    display: flex;
    border-width: 1px;
    font-weight: bold;
    border-right: 3px solid white;
    border-left: 3px solid white;
    margin-bottom: 20px;
} 
.footer-sponsors h1 {
    font-size: 25px;
    gap: 20px;
    padding-top: 0;
}

.sponsors-title {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    padding-top: 0;
}

.sponsors-title::before {
    content: "◦";
    color: white;
    padding-right: 15px;
}

.footer-sponsors{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 11px;
    line-height: 2;
}

.footer-sponsors, .sponsors-box {
    justify-content: center;
    display: block;
    margin: 13px 0;   
}

.spons-div1, .spons-div2 {
    margin: 10px;
}

.footer-copyright {
    padding: 0;
    margin-top: 10px;
    position: relative;
    top: 18px;
}

.footer-copyright p{
    font-size: 8px;
}


.footer-company {
    width: 400px;
    height: 275px;
    display: flex;
    text-align: center;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: centert;
    margin: 12.5px;
    color: white;
}
.company-title {
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
}

.company-title::before {
    content: "◦";
    color: white;
    padding-right: 15px;
    
}

.auth-links,
.extra-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 60px;
    gap: 100px;
    margin-top: 25px;
    margin-bottom: 20px;
}

.footer-company a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.license-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.license-list li {
    margin: 5px 0;
}

