.bottom-container {
    background-color: #330031;
    color: #fff;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 1280px;
    height: 279px;
    font-family: 'Comfortaa', sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: 0;
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: start;
    /* border: 1px solid red; */
}

.footer-grid {
    display: flex;
    justify-content: center;
    width: 1150px;
    height: 275px;
    gap: 20px;
    padding: 10px;
    /* border: 1px solid red; */
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: 10px 50px;
    /* border: 1px solid yellow; */
}

 /* .social-links ul {
    list-style-type: none;
    padding: 10px;
    margin: 15px;

} */

.social-links p {
    margin: 10px;
    padding: 10px;
}
.social-title {
    font-weight: bold;
    padding: 5px;
    /* border: 1px solid blue; */
}

/* .social-title, .socials {

} */



.social-github, .social-linkedin {
    display: flex;
    align-items: flex-start;
    font-size: 13px;
    /* border: 1px solid white; */
}

.social-github img, .social-linkedin img {
    width: 10%;
    height: 10%;
    margin: 10px;
    align-items: center;
    /* border: 1px solid white; */
}

.footer-sponsors {
    border-left: 3px solid white;
    border-right: 3px solid white;
    border-width: 2pxr;
    align-content: center;
    height: 200px;
    width: 400px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 15px; 
    flex-direction: column;
    position: relative;
    /* gap: 20px; */
    /* border: 1px solid black;  */
} 
.footer-sponsors .title {
    font-size: 16px;
    gap: 20px;
    margin: 10px;
}

.footer-sponsors, .sponsors {
    position: relative;
    top:  10px;
    gap: 10px;
}

.footer-sponsors p{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 11px;
    line-height: 2;
    /* border: 1px solid red; */
}

.footer-sponsors, .sponsors-box {
    /* border: 1px solid red; */
    justify-content: center;
    position: relative;
    top: 15px;
    display: block;
    margin: 5px 0;    
}

.spons-div1, .spons-div2 {
    margin: 10px;
    /* border: 1px solid blue; */
}

.footer-copyright {
    padding: 20px 0 0 0;
    position: relative;
    top: 20px;
    /* border: 1px solid yellow; */
}

.footer-copyright p{
    font-size: 8px;
}


.footer-company p {
    /* margin-top: 10px; */
    font-weight: bold;
    position: relative;
    left: 70px;
    top: 2px;
    /* border: 1px solid black; */
    
}
.footer-company {
    text-align: left;
    display: flex;
    flex-direction: column; 
    gap: 40px; 
    /* padding: 0 0px 30px 0;  */
    color: white; 
    justify-content: center;
    position: relative;
    left: 40px;
    bottom: 30px;
    /* border: 1px solid yellow; */

}

.auth-links,
.extra-links {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.footer-company a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}

.license-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.license-list li {
    margin: 5px 0;
}

