@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Comfortaa', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to right bottom, #FFCCFD, #CC00C6);
}


.header {
    width: 100%;
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    background-color: whitesmoke;
    justify-content: center; 
    z-index: 1;
}

.inner_header {
    width: 100%; 
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
}

.logo_container {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_container span {
    color: black;
    font-size: 21px;
    transition: all 0.2s ease-in-out;
}

.logo_container span:hover {
    color: #333;
    font-size: 25px;
}

.nav-container {
    display: flex;
    flex-grow: 0;
    justify-content: center; 
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation li {
    color: black !important;
    font-size: 16px;
    padding: 10px;
    gap: 30px;
    list-style-type: none;
    transition: all 0.2s ease-in-out;
}


.navigation li:hover {
    color: #333;
    font-size: 19px;
}

.nav-search {
    display: flex;
    align-items: center;
    border-radius: 25px;
    justify-content: flex-end;
}

.nav-search input[type="search"] {
    padding: 5px 10px;
    border: 0.2px solid #FFCCFD;
    border-radius: 25px;
    font-size: 17px;
    font-family: 'Comfortaa';
    background-color: #FFCCFD;
    width: 300px;
    height: 35px;
    transition: all 0.2s ease-in-out;
}

.nav-search:last-child {
    padding-right: 0%;
}

.nav-search button {
    background-color: #FFCCFD;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.nav-search input:focus {
    background-color: #330031;
    color: #fff;
}

::placeholder {
    color: #fff;
}


.featured-movies {
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

.movies-grid-movies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.movie-card  {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.movie-card img {
    width: 75%;
    border-radius: 35px;
    height: auto;
    transition: all 0.2s ease-in-out;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

}

.movie-card button {
    margin-top: 10px;
    padding: 10px;
    width: 75%;
    background-color: #330031;
    color: white;
    font-family: 'Comfortaa';
    font-size: 16px;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

.slide-button-right,
.slide-button-left, .img-s {
    width: 40px;
    height: 40px;
    background-color: #990094;
    border-radius: 20px;
}

.movie-card button:hover {
    background-color: #fff;
    color: #330031;
}

.movie-card img:hover {
    transform: scale(0.95);
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.footer-copyright {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    color: white;
}

.footer-copyright p{
    font-size: 8px;
    font-family: Arial, sans-serif;
    line-height: 1.3;
}
