.services {
    margin: 0 0 50px 0;
    padding: 0;
    height: 400px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right;
    padding: 10%;
}

.services-title-container {
    display: flex;
    justify-content: flex-start;
    height: auto;
    margin-bottom: 20px;
}

.services-title {
    font-size: 2.5em; 
    color: black; 
    font-family: 'Comfortaa'; 
} 

.services-grid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 600px;
    gap: 50px;
    padding: 20px;
}



.services-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-card {
    border-radius: 20px;
    box-shadow: 0px 5px 8px rgba(0,0,0,0.2);
    background-color: white;
    text-align: center;
    transition: all 0.2s ease-in-out;
    
}

.pricing-card:hover {
    transform: scale(1.1);
}

.card-header {
    background-color: #330031;
    color: white;
    padding: 10px 0;
    border-radius: 20px 20px 0 0;
}

.card-header h2 {
    font-size: 20px;
    margin: 0;
    letter-spacing: 1px;
}

.card-body {
    padding: 15px 0;
    color: #333;
    height: auto;
}

.card-content p{
    font-family: 'Comfortaa'; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    align-content: flex-start;
    margin: 0;
    padding: 10px;
    line-height: 2;
    font-size: 11px;
}

.services-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    margin-bottom: 10px;
}

.services-info-span {
    flex-basis: 65%;
    text-align: left;
    font-size: 13px;
}

.services-info-span-2 {
    flex-basis: 30%;
    text-align: right;
    font-size: 13px;

}

.card-footer button {
    width: 100%;
    background-color: #330031;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 0 0 20px 20px;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
}

.card-footer button:hover {
    background-color: whitesmoke;
    color: #330031;
}

